<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" type="text/css" href="/css/usermanagement.css">
</head>
<body>
   <link rel="stylesheet" href="https://cdn.lineicons.com/2.0/LineIcons.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@300;500&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<div class="my-container">
  <div class="header">
    <div class="header-logo">
        <img src="/pictures/logo.png" class="logo">
    </div>
   
  </div>
  <div class="main">
    <div class="sidebar">
      <ul>
        <li><a href="#" ><i class="lni lni-home"></i><span>Dashboard</span></a></li>
        <li><a href="/usermanagement"><i class="lni lni-users"></i><span>User Management</span></a></li>
        <li><a href="/adminmanagement"><i class="lni lni-control-panel"></i><span>Admin Management</span></a></li>
        <li><a href="#artworkManagement"><i class="lni lni-image"></i><span>Artwork Management</span></a></li>
  
      </ul>
    </div>
    <div class="page-content">

<div id="home" class="box-container">

<div class="total-users neumorphic-box">
   <img class="icon" src="/pictures/dashboard/user.png">Users
    <div class="user-count">
      {{userCount}}
  </div>
</div>

<div class="total-admin neumorphic-box">
    <img class="icon" src="/pictures/dashboard/admin.png">Admins
  <div class="admin-count">
    {{adminCount}}
  </div>
</div>

<div class="total-artwork neumorphic-box">
    <img class="icon" src="/pictures/dashboard/art.png">Artworks
  <div class="admin-count">
    {{artworkCount}}
  </div>
</div>
</div>




    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>

  
</script>
</body>
</html>


