<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AI ART GALLERY</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <script src="https://kit.fontawesome.com/ee5eddb182.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="nav-home">
<nav class="navbar">
  <div class="container">
    <div class="navbar-brand">
      <a href="#" class="navbar-logo">
        <img class="logo" src="pictures/logo.png">
      </a>

    </div>
  

    <input type="checkbox" id="navbar-toggle" class="navbar-toggle">
    <label for="navbar-toggle" class="navbar-toggle-label">
      <span></span>
      <span></span>
      <span></span>
    </label>
    <ul class="navbar-menu">

      <li class="navbar-item">

        <a href="#" class="navbar-link">Home</a>
      </li>
            <li class="navbar-item">
        <a href="about.html" class="navbar-link">About</a>
      </li>

      
    </ul>
  </div>
</nav>


<section class="home-section">
  <div class="home-container">
    <div class="home-content">
      <h1 class="home-title">Discover the Art of Artificial Intelligence</h1>
      <p class="home-description">Experience captivating AI-generated artwork that pushes the boundaries of creativity.</p>
      <a href="#" class="home-button">Explore Artwork</a>
    </div>
  </div>
</section>
</div>


 <!-- Login and Signup buttons -->
 <div class="button-section">
 <a href="/login"> <button class="button login-button">Login</button></a>
  <a href="/signup"><button class="button signup-button">Signup</button></a>
  </div>
 
  
 




<section id="about" class="intro-section">
    <div class="content">
      <h1>Introduction</h1>
      <p>Discover mesmerizing artworks created by artificial intelligence. Step into a world where algorithms and imagination intertwine, bringing you an extraordinary collection of AI-generated artworks. Immerse yourself in the mesmerizing beauty and thought-provoking concepts crafted by our AI artists. From stunning paintings to captivating sculptures, each piece is a testament to the boundless possibilities of artificial intelligence in the realm of art. Join us on this captivating journey, where innovation and aesthetics converge, and discover a new realm of artistic expression.</p>
    </div>
    <img src="pictures/artwork-image.jpg" alt="Artwork">
  </section>

  <div class="featured-artwork">
  <div class="artwork-item">
    <img src="pictures/artwork/image1.jpg" alt="Artwork 1">
    <div class="artwork-info">
      <h3>Artwork Title</h3>
      <p>By Artist Name</p>
    </div>
  </div>
  <div class="artwork-item">
    <img src="pictures/artwork/image2.jpg" alt="Artwork 2">
    <div class="artwork-info">
      <h3>Artwork Title</h3>
      <p>By Artist Name</p>
    </div>
  </div>
  <!-- Add more artwork items here -->
</div>

<script type="text/javascript" src="main.js"></script>
</body>
</html>