<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Login</title>
	<link rel="stylesheet" type="text/css" href="/css/login.css">
	<script src="https://kit.fontawesome.com/ee5eddb182.js" crossorigin="anonymous"></script>
</head>
<body>
	<div class="LoginPageContainer">
    <div class="LoginPageInnerContainer">
        <div class="ImageContianer">
            <img src="/pictures/signup/login.png" class="GroupImage">
        </div>
        <div class="LoginFormContainer">
            <div class="LoginFormInnerContainer">
                <div class="LogoContainer">
                    <img src="/pictures/logo-black.png" class="logo">
                </div>
                <header class="header">Log in</header>
                <header class="subHeader">Welcome to <b>AI Art Gallery!</b> Please Enter your Details</header>

                {{#if msg}}
                <h5 class="{{msg_type}}">{{msg}}</h5>
                {{/if}}

                <form action="/auth/login" method="POST">
                    <div class="inputContainer">
                        <label class="label" for="emailAddress">
            
                        	<img src="/pictures/signup/email.png" class="labelIcon"><span>Email Address*</span></label>
                        <input name="email" type="email" class="input" id="emailAddress" placeholder="Enter your Email Address">
                    </div>

                    <div class="inputContainer">
                        <label class="label" for="role">
            
                            <img src="/pictures/signup/role.png" class="labelIcon"><span>I am a*</span></label>
                        

                            <select class="input" id="role" name="role">
                              <option value="user">User</option>
                            <option value="admin">Admin</option>
                          </select>

                    </div>

                         


                    <div class="inputContainer">
                        <label class="label" for="password"><img src="/pictures/signup/password.png"
                                class="labelIcon"><span>Password*</span></label>
                        <input name="password" type="password" class="input" id="emailAddress" placeholder="Enter your Password">
                    </div>
              
                     
                        <a href="/signup" class="Registerhere">Register Here!</a>
                  
                    <button class="LoginButton">Login</button>
                </form>
                <a href="/">  <div class="go-back-button">
  <span class="back-icon">&larr;</span>
    Go Back 
  </div>
</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>