<footer class="footer">
  <div class="container">
    <div class="footer-content">
     
      
    </div>
    <div class="footer-social">
      <a href="#" class="social-icon"><i class="fab fa-facebook-f"></i></a>
      <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
      <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
    </div>
    <p class="footer-copy">© 2023 AIArtGallery. All rights reserved.</p>
  </div>
</footer>
