<header class="header">
  <nav class="header-navbar">
    <div class="header-container">
      <div class="logo">
        <!-- Your logo image or text goes here -->
        <a href="/">{{users.username}}</a>
      </div>
      <div class="menu-toggle">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <ul class="header-menu">
        <!-- Add your navigation links here -->
        <li><a href="/home">Home</a></li>
       
        <li><a href="/contact">Contact</a></li>
          <li><a href="/artworks">Artworks</a></li>
        <!-- Add more menu items as needed -->
      </ul>
              <li class="profile"><a href="/profile">         <img class="profile-pic" src="/pictures/upload/users/{{users.username}}.jpg">
</a></li>

    </div>
  </nav>
</header>
