
* {
  margin: 0;
  padding: 0;
}

body {
  background: #f0f0f0 !important;

  font-family: "Hind Vadodara", -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, sans-serif;
}

.my-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-wrap: wrap;
}

.main {
  height: calc(100% - 50px);
  display: flex;
  flex: 1;
}

.btn-line {
  width: 30px;
  height: 2px;
  background: #fff;
  margin: 4px 0;
  transition: transform 0.3s, opacity 0.3s;
}

.site-title {
  color: #fff;
  font-size: 24px;
  letter-spacing: 1px;
  font-weight: 400;
}

.page-content {
  box-sizing: border-box;
  width: 100%;
  flex: 1;
background: #f0f0f0;
height: 100vh;
  text-align: center; 
}

.header-logo {
  display: flex;
  align-items: center;
  width: 220px;
  overflow: hidden;
  transition: width 0.5s ease;
}

@media screen and (max-width: 991px) {
  .page-content {
    width: 100vw;
  }
}

@media screen and (max-width: 767px) {
  .header-logo {
    display: none;
  }
}

.welcome {
  font-size: 30px;
}

#home {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 30px;
}

.neumorphic-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 150px;
  border-radius: 15px;
  background: #f0f0f0;
  box-shadow: 10px 10px 20px #c7c7c7, -10px -10px 20px #ffffff;
  margin: 20px;
  padding: 20px;
  font-size: 24px;
  transition: box-shadow 0.3s ease-in-out;
}

.neumorphic-box:hover {
  box-shadow: 5px 5px 10px #c7c7c7, -5px -5px 10px #ffffff;
}

.icon {
  width: 80px;
}

@media (max-width: 768px) {
 
  .my-container {
    flex-direction: column;
  }

  .page-content {
    margin-left: 0;
    margin-top: 20px;
    padding: 10px;
  }

  .header-logo {
    width: 100%;
    margin-bottom: 20px;
  }

  .site-title {
    font-size: 20px;
  }

  .welcome {
    font-size: 24px;
  }

  .neumorphic-box {
    font-size: 20px;
    width: 80%; 
    height: 120px;
    margin: 10px; 
    margin-left: 200px;
  }
}

@media (max-width : 1009px){
.neumorphic-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 150px;
  border-radius: 15px;
  background: #f0f0f0;
  box-shadow: 10px 10px 20px #c7c7c7, -10px -10px 20px #ffffff;
  margin: 20px;
  padding: 20px;
  font-size: 24px;
  transition: box-shadow 0.3s ease-in-out;
}
}