/*FOR HEADER.HBS*/
/* Basic styling for the header */
.header {
  background-color: #2c3e50;
  color: #fff;
  padding: 20px 0;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 20px;
}

.logo a {
  color: #fff !important;
  text-decoration: none !important;
  font-size: 24px;
  font-weight: bold !important;
}

.header-menu {
  display: flex;
  list-style: none;
}

.header-menu li {
  margin-left: 20px;
}

:not(.header).header-menu a {
  color: #fff;
  text-decoration: none;
}

.header-menu a:hover {
  color: #ccc;
}

.menu-toggle {
  display: none;
  cursor: pointer;
}
ul {
    margin-top: 5px !important;
  }

.menu-toggle span {
  display: block;
  width: 30px;
  height: 2px;
  background-color: #fff;
  margin-bottom: 5px;
}

.profile a {
  text-decoration: none;
  list-style: none;
}

.profile-pic {
  width: 50px;
  border-radius: 50%;
  margin-bottom: 10px;
  list-style: none;
}

@media (max-width: 768px) {
  .header-container {
    flex-direction: column;
    align-items: center;
  }

  .header-menu {
    margin-top: 10px;
  }

  .header-menu li {
    margin-left: 0;
    margin-bottom: 10px;
  }

  .menu-toggle {
    display: block;
  }

  .menu-toggle.active span {
    background-color: #333;
  }

  .menu-toggle.active ~ .header-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header-menu li {
    margin-left: 0;
  }

  .header-menu li:last-child {
    margin-bottom: 0;
  }
}
