body{
   background: #f0f0f0;
}
#userManagement {
  margin: 20px auto;
  background-color: #f0f0f0; /* Light background color */
  border-radius: 15px;
  padding: 20px;
  display: flex;
  justify-content: center;
}
.main-user{
    display: flex;

  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}



.user-main {
   display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.user-box {
  margin: 10px;
  padding: 15px;
  border-radius: 15px;
  background: #f0f0f0;
  box-shadow: 5px 5px 10px #d9d9d9, -5px -5px 10px #ffffff; /* Neumorphic shadows and highlights */
  transition: all 0.3s ease;
  width: 18rem;
}

.user-box:hover {
  transform: translate(5px, 5px); /* Add subtle hover effect */

}

.user-profile {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto 10px;
  display: block;
  box-shadow: 3px 3px 5px #d9d9d9, -3px -3px 5px #ffffff; /* Neumorphic shadows and highlights */
}
.user-profile-view{
    width: 200px;
  height: 200px;
  border-radius: 30px;
    object-fit: cover;
      display: block;
  box-shadow: 3px 3px 5px #d9d9d9, -3px -3px 5px #ffffff; /* Neumorphic shadows and highlights */


}
.user-detail{

  line-height: normal;
text-align: left;
}
.icon-button{
 border: none;
border-radius: 50%;
box-shadow: 3px 3px 5px #d9d9d9, -3px -3px 5px #ffffff;
margin: 10px;
 }
li {
  text-align: center;
  color: #333;
  font-weight: bold;
  font-size: 19px;
}

/* Responsive styles */
@media (max-width: 768px) {
  .user-box {
    flex-basis: calc(100% - 20px);
  }
}
.icons-side{
  border-radius: 20px;
display: flex;
align-items: center;
justify-content: center;
box-shadow: 3px 3px 5px #d9d9d9, -3px -3px 5px #ffffff; /* Neumorphic shadows and highlights */
margin-top: 20px;


}
.icon-pic{
cursor: pointer;
width: 30px;
margin: 20px;
}
.icon-pic:hover{
  background-color: mintcream;
    border-radius: 20px;

}
.add-user{
  margin: 0;
  font-size: 20px;
  cursor: pointer;
  border-radius: 20px;
  width: 200px;
  display: flex;
align-items: center;
justify-content: center;
  box-shadow: 3px 3px 5px #d9d9d9, -3px -3px 5px #ffffff; /* Neumorphic shadows and highlights */

}